
.sidebar{
    width: 400px;
    height: 100vh;
}

.sidebar-menu-container{
    width: 50%;
}

.sidebar-button{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--transparent);
    margin: 3px;
    vertical-align: middle;
    padding-left: 15px;
}

.sidebar-button[selectedNav]{
    border: 1px solid #000;
}

.sidebar-button:hover{
    border: 1px solid var(--hl);
}

.profile{
    height: 100px;
}

.schedules{
    width: 50%;
}

.schedules h3{
    margin: 15px 0px 15px 0px;
}

.schedule-list{
    
}

.schedule-item{
    
    text-decoration: none;
    color: #000;
    padding: 10px 0px 10px 12px;
    width: 210;
    border-radius: 8px;
}

.new-schedule-inp{
    width: 210;
    border-radius: 8px;
    padding: 8px 0px 8px 10px;
    outline: none;
}

.container-padding{
    padding: 40px 50px 0px 50px;
}

.schedule-item-selected{
    background-color: var(--light-bg);
}

.calendar{
    
}

.calendar-view{
    padding: 20px 0px 0px 0px;
}

.calendar-button{
    font-size: 1.5em;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 35px;

}

.calendar-button:hover{
    border: 1px solid var(--hl);
}

.calendar-button:active{
    background-color: var(--hl);
}