#container{
    display: none;
}

#schedules-view{
    display: none;
    min-width: 420px !important;
    max-width: 520px !important;
}

/*

@media only screen and (max-width: 1500px) {
    .mainview {
      flex-direction: column !important;
    }
  }
*/
.sidebar{
    min-width: 200px;
    height: 100vh;
}

.profile{
    height: 100px;
}

.calendar-note-section{
    min-width: 570px !important;
    max-width: 570px !important;
}

.calendar{
    border-bottom: 1px solid var(--hl);
}

.calendar-list{
    border-top: 1.5px solid #000;
}

.calendars h3{
    margin: 15px 0px 15px 0px;
}


.calendar-share-btn{
    display: none;
}

.calendar-share-btn[hide=false]{
    display: block;
}

.daily-scheduler-title{
    font-size: 1.2em;
}

.calendar-item{
    font-size: 0.9em;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    padding: 10px 5px 15px 12px;
    border-radius: 8px;
    margin: 1px;
    
}

.calendar-item p{
    white-space: nowrap; 
    width: 80%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.calendar-item[selected="true"]{
    border: 0.5px solid var(--dark-hl);
}

.calendar-item p{
    font-size: 0.95em;
}

.new-calendar-inp{
    width: 210;
    border-radius: 8px;
    padding: 8px 0px 8px 10px;
    outline: none;
}

.container-padding{
    padding: 40px 50px 0px 50px;
}

.schedule-item-selected{
    background-color: var(--light-bg);
}

.calendar-view{
    padding: 20px 0px 0px 0px;
}

.calendar-button{
    font-size: 1.5em;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    width: 35px;
    font-weight: 500;
    border: 1px solid transparent;
}

.calendar-button:hover{
    border: 0.5px solid black;
}

.calendar-button:active{
    background-color: var(--hl);
}

.daily-scheduler{
    max-width: 470px;
}

.add-button{
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 6px;
    color: #000;
    width: 100px;
    height: 20px;
    font-size: 14pt;
    padding-bottom: 24px;
}

.add-button:hover{
    color: #000 ;
    background-color: var(--light-bg);
}


.calendar-button-container{
    min-width: inherit;
}

.cards-container{
    max-height: 50vh;
    overflow-y: scroll;
    margin: 20px 0px 20px 0px;
    scrollbar-width: none;

}

.card{
    padding: 0px 10px 0px 10px;
    background-color: #4FB192;
    font-size: 10pt;
    color: var(--white);
    border-radius: 27.5px;
    min-width: 400px;
    max-width: 500px;
    height: 100px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.05);
    margin: 15px 0px 15px 0px;
}

.card .time{
    width: 20%;
    max-width: 70px;
}

.card .info{
    width: 80%;
    padding-left: 15px;
}

.card .info .title{
    font-weight: 600;
    padding: 5px;
}

.card .info .desc{
    font-weight: 300;
    padding: 5px;
}

.card .time .start-time{
    font-weight: 300;
    border-bottom: 0.9px solid var(--white);
    padding: 5px;
}

.card .time .end-time{
    font-weight: 300;
    padding: 5px;
}


.new-schedule-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 400px;
    height: 300px;
    z-index: 10000;
    background-color: var(--white);
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
}

.schedule-title-inp{
    width: inherit;
}
.schedule-desc-inp{
    width: inherit;
    height: 100px;
    resize: none;
    padding-top: 10px;
}

.new-schedule-modal[toggle='off']{
    display: none;
}

.modal-exit{
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid transparent;
}

.modal-exit:hover{
    border: 2px solid var(--dark-hl);
}

.new-schedule-modal .footer{
    height: 80px;
}



.form-submit{
    width: 80px;
    height: 35px;
    background-color: var(--blue)  !important;
    color: var(--white)  !important;
    font-size: 0.8em !important;
    border: 0px !important;
    padding: 0px !important;
}

.form-submit:hover{
    background-color: var(--dark-blue)  !important;
}

.create-schedule:hover{
    background-color: var(--light-blue) !important;
}

.create-schedule:active{
    background-color: var(--dark-blue)  !important;
}

.new-notes-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 400px;
    height: 300px;
    z-index: 10000;
    background-color: var(--white);
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
}

.new-notes-modal[toggle='off']{
    display: none;
}

.notes-title-inp{
    width: inherit;
}

.new-notes-exit{

}

.note{
    height: 100px;
    min-width: 490px !important;
    max-width: 490px !important;
    background-color: #FFF;
    padding: 0px 50px 0px 0px;
    border: 0.5px solid var(--dark-hl);
    border-radius: 15px;
    margin: 15px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);

    
}

.note .info{
    height: 100%;
    padding: 15px;
    width: 100%;
}

.note .handle{
    height: 100%;
    border-right: 0.5px solid var(--dark-hl);
    margin-right: 15px;
}

.note-title{
    height: 50%;
    max-width: 490px;
    overflow: hidden;
}

.note-desc{
    height: 50%;
    max-width: 490px;
    
}

.note-desc p{
    width: 90%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.note-desc p{
    overflow: hidden;
    word-wrap: break-word;
}

.share-calendar-popup{
    position: absolute;
    max-width: 350px;
    max-height: 70px;
    min-width: 350px;
    min-height: 70px;
    background-color: white;
    border: 1px solid var(--dark-hl);
    border-radius: 25px;
    /*box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);*/
    padding: 15px;
} 


.share-calendar-popup[hide=true]{
    display: none;
}