*{
    margin: 0px;
    padding: 0px;
}

.h2{
    font-size: 20px;
    font-weight: bold;
}

.p-title{
    font-weight: bold;
}

.text-left{
    text-align: left;
}

.popMessages{
    position: absolute;
    top: 0px;
    left: 20px;
}

.popMsg{
    border: 1px solid var(--dark-hl);
    border-radius: 15px;
    width: 300px;
    height: 70px;
}