*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

:root{
    --hl: #B8B8B8; /* highlights */
    --dark-hl:#a1a1a1;
    --light-bg: #F5F5F5; 
    --blue: #4F82B1;
    --light-blue: #5b96ce;
    --dark-blue: #426d96;
    --white: #FFF;
}



.no-decor{
    text-decoration: none;
    color: #000;
    
}

.no-decor:hover{
    
}

.container{
    margin: 0 auto;
    /*padding-left: 20px;
    padding-right: 20px;*/
    width: 1250px;
}

.border-right{
    border-right: 1px solid var(--hl);
}

.border-left{
    border-left: 1px solid var(--hl);
}

.px-1{
    padding: 0px 1.5em 0px 1.5em;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.align-start{
    align-items: start;
}


.align-end{
    align-items: end;
}


.regular{
    font-weight: 400;
}

.basic-inp{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--hl);
    padding: 0px 0px 0px 25px;
    margin: 5px 0px 5px 0px;
}